@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;700&display=swap');

//Fuentes
$fuente_primaria: 'Manrope', sans-serif;

//Tamaños Media Queries

$telefono: 48rem;
$tablet: 760px;
$desktop:102.4rem;

//Colores

$primario: #1C40B5;
$grisClaro: #C7C9D9;
$gris: #696969;
$blanco: #ffffff;
$negro: #000000;