.doctorCardContainer{
    display: grid;
    align-content: center;
    justify-items: center;
    padding: 1rem;
    position: absolute;
    background-color: $blanco;
    border-radius: 2rem;
    top: 55%;
    left: 5%;
    @include tablet{
        top: 0%;
    }
    h3{
        font-family: $fuente_primaria;
        color: $negro;
        font-size: 1rem;
        margin: 0;
    }
    span{
        font-family: $fuente_primaria;
        color: $gris;
        font-size: .8rem;
        margin-bottom: 1rem;
    }
}
.doctorContainer{
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    img{
        width: 4rem;
        border-radius: 50%;
        margin-right: 1rem;
    }
}