.header, .encuentraTuDoctorSection{
    min-height: 100vh;
    display: grid;
    grid-template-columns: 52% 48%;
    position: relative;
    overflow: hidden;
    @include tablet{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .descriptionSection{
        display: grid;
        align-content: center;
        padding: 1rem 4rem;
        @include tablet{
            padding: 5rem 4rem;
        }
        h2{
            font-family: $fuente_primaria;
            font-size: 4rem;
            margin: 0;
            width: 80%;
            @include tablet{
                font-size: 3rem;
            }
        }
        p{
            font-family: $fuente_primaria;
            font-size: 1rem;
            color: $gris;
            margin-bottom: 2rem;
            width: 70%;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            margin-top: 0;
            img{
                margin-right: 1rem;
            }
            @include tablet{
                font-size: .8rem;
            }
        }
        .btn1{
            width: 12rem;
        }
    }
    .headerDecoration{
        display: flex;
        align-items: flex-end;
        position: relative;
        @include tablet{
            justify-content: flex-end;
            #doctorHeader, #doctorHeader2{
                height: 50%;
                width: 80%;
            }
        }
        #doctorHeader{
            height: 80%;
        }
        #doctorHeader2{
            height: 60%;
            align-self: flex-end;
        }
    }
}
.encuentraTuDoctorSection{
    .headerDecoration{
        justify-content: flex-end;
    }
    .descriptionSection{
        h2{
            max-width: 30rem;
        }
        @include tablet{
            padding: 0 2rem 5rem 2rem;
        }
    }
}