.navbarContainer{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    padding: 0 4rem;
    align-items: center;
    background-color: $blanco;
    z-index: 20;
    .navbarLeft{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 25rem;
        @include tablet{
            width: 100%;
            justify-content: space-between;
        }
        h1{
            font-family: $fuente_primaria;
            font-weight: bold;
            font-size: 1.8rem;
            span{
                color: $primario;
            }
        }
        h1:hover{
            cursor: pointer;
        }
        #menuIcon{
            display: none;
            @include tablet {
                display: flex;
                width: 3rem;
                cursor: pointer;
            }
        }
    }
    .navbarRight{
        display: flex;
        @include tablet{
            display: none;
        }
    }
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    ul{
        display: flex;
        padding: 0;
        li{
            list-style: none;
            a{
                text-decoration: none;
                font-family: $fuente_primaria;
                color: $negro;
                margin-left: .8rem;
                font-size: 1rem;
                font-weight: 500;
            }
            a:hover{
                color: $gris;
                text-decoration: underline solid $grisClaro;
            }
        }
        .cerrarIconContainer{
            display: none;
            @include tablet{
                display: flex;
                width: 100%;
                align-items: center;
                justify-content: space-between;
                padding: 0 4rem;
                margin-bottom: 4rem;
            #cerrarIcon{
                width: 4rem;
                height: auto;
                cursor: pointer;
            }
            .navbarRight{
                display: flex;
            }
            }
        }
    }
        @include tablet {
            position: absolute;
            top: 0;
            left: 100%;
            ul{
                flex-direction: column;
                align-items: center;
                background-color: $blanco;
                width: 100vw;
                height: 100vh;
                padding: 4rem 0;
                margin: 0;
                z-index: 100;
                li{
                    margin-bottom: 4rem;
                    a{
                        font-size: 2rem;
                    }
                }
            }
    }
    &.active{
        animation: posicionar .4s ease-in-out forwards;
    }
    &.desactive{
        animation: reposicionar .4s ease-in-out forwards;
    }
}

@keyframes posicionar{
    0%{
        left: 100%;
    }
    20%{
        left: 80%;
    }
    40%{
        left: 60%;
    }
    60%{
        left: 40%;
    }
    80%{
        left: 20%;
    }
    100%{
        left: 0%;
    }
}
@keyframes reposicionar{
    0%{
        left: 0%;
    }
    20%{
        left: 20%;
    }
    40%{
        left: 40%;
    }
    60%{
        left: 60%;
    }
    80%{
        left: 80%;
    }
    100%{
        left: 100%;
    }
}